@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  .container {
    padding: 10px;
  }

  #localTaks {
    flex-direction: column;
  }

  .caixaTask {
    flex: 1 1 calc(50% - 10px); /* 2 tarefas por linha */
    max-width: calc(50% - 10px);
  }

  .modal {
    width: 90%; /* Ocupa quase toda a largura da tela */
    padding: 10px;
  }

  button, input {
    font-size: 0.9rem;
    padding: 8px 15px;
  }

  header {
    flex-direction: column;
    text-align: center;
  }
}

/* Estilos para telas pequenas (480px ou menos) */
@media screen and (max-width: 400px) {
  body {
    font-size: 12px;
  }

  .caixaTask {
    flex: 1 1 100%; /* 1 tarefa por linha */
    max-width: 100%;
    font-size: 0.9rem;
    padding: 8px;
  }

  progress {
    height: 16px;
  }

  button, input {
    font-size: 0.8rem;
    padding: 6px 10px;
    width: 100%; /* Ocupa toda a largura */
  }
}